{
    auto_https disable_redirects
    default_sni {$DEFAULT_SNI:localhost}
}

http:// {
    redir https://{host}:8443{uri} 308
}

{$APP_DOMAIN:localhost} {
    tls internal

    handle /api/* {
        reverse_proxy backend:3000
    }

    handle /socket.io/* {
        reverse_proxy backend:3000
    }

    handle /uploads/* {
        reverse_proxy backend:3000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}